#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to right,#90EE90,#C4A484);
}
@font-face {
  font-family: 'Bitcount Prop Single Ink';
  src: url('./assets/fonts/BitcountPropSingleInk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

h1{
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  color: #00ff90;
  text-shadow: 2px 2px 5px brown;
}

.menu-button {
  background-color: white;
  color: brown;
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}
.menu-button:hover {
  background-color: #C4A484;
  transform: scale(1.05);
}
.menu-button:active {
  transform: scale(1);
}
.menu-item {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  background-color: white;
  color: brown;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 12px;
  margin: 5px;
  transition: transform 0.2s, background-color 0.2s;
}
.menu-item:hover {
  background-color: #C4A484;
  transform: scale(1.05);
}
.menu-item:active {
  transform: scale(1);
}
p{
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  color: brown;
  font-size: 18px;
}
